<nav><ul>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="Active" routerLink='/' >Home</a></li>
    <li><a routerLinkActive="Active" routerLink="/login">LogIn</a></li><br>
    <li><a routerLinkActive="Active" routerLink="/register">Go to Registration</a></li><br>
    <li><a routerLinkActive="Active" routerLink="/transaction">Go to Transaction</a></li><br>
    <li><a routerLinkActive="Active" routerLink="/rewards">Go to Rewards</a></li><br>
    <li><a routerLinkActive="Active" routerLink="/forgotpass">Forgot Password</a></li><br>
</ul></nav>

